* contact
https://www.squarespace.com/templates/falodu-fluid-demo

* footer
https://www.squarespace.com/templates/reseda-fluid-demo

* mood
https://www.squarespace.com/templates/reseda-fluid-demo

font-family: 'Helvetica Neue', sans-serif;
font-family: 'Times New Roman', sans-serif;
font-family: 'Pragmatica', sans-serif;
font-family: "Cal Sans", sans-serif;
font-family: "Roboto", sans-serif
font-family: "Ubuntu", sans-serif;
font-family: "Cormorant", serif;
font-family: "Syncopate", sans-serif;
font-family: "Lato", sans-serif;
font-family: "Italiana", sans-serif;
font-family: 'Adobe Garamond Pro', sans-serif;
font-family: "Inter", sans-serif;
font-family: 'Aktiv Grotesk Cd Trial', sans-serif;
font-family: 'Acumin Pro', sans-serif;
font-family: 'Anton', sans-serif; 

